.Tracking-Image-div{
    width: 100%;
    object-fit: cover;
    position: fixed;
    display: flex;
    align-items: center;
}

.Tracking-Form-Div{
    width: 20%;
    height: 40%;
    background-color: rgb(255, 240, 36);
    position: fixed;
    margin: 8% 0 0 5%;
}

.Tracking-Container-div{
    position: fixed;
    margin: 3% 0 0 10%;
}

.Tracking-Message-Text-h1-div{
    position: absolute;
    margin: -5% 0 0 0;
    font-family: Anton;
    font-size: 1.5vw;
    background-color: rgb(255, 240, 36);
}

.Tracking-Grid-div{
    margin: 0 0 0 3%;
}

.Tracking-Continue-Button{
    background-color: black;
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    margin-top: 5%;
    text-decoration: none;
    outline: none;
}

.Tracking-Text-Button {
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
    color: rgb(255, 240, 36);
}