.Container-footer-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    top: 230%;
}


.Paragraph-footer {
    line-height: 0;
    font-family: Anton;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 50%;
    left: 5%;
    top: 250%;
}

.Paragraph-footer:hover {
    line-height: 0;
    font-family: Anton;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(255, 240, 36);
    position: absolute;
    width: 50%;
    left: 5%;
    top: 250%;
    cursor: pointer;
}

.Empty-Div-footer {
    background: rgb(255, 240, 36);
    height: 1%;
    width: 50%;
    left: 5%;
    top: 260%;
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    .Container-footer-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 1500px;
    }

    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 1600px;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 1600px;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 1650px;
        position: absolute;
    }
}

@media only screen and (max-width: 800px) {
    .Container-footer-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 450%;
    }

    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 480%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 480%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 490%;
        position: absolute;
    }
}

@media only screen and (max-width: 768px) {
    .Container-footer-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 200% !important;
    }

    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 215%;
        position: absolute;
    }
}

@media only screen and (max-width: 540px) {
    .Container-footer-img {
        height: 30%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 200% !important;
    }

    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 215%;
        position: absolute;
    }
}

@media only screen and (max-width: 414px) {
    .Container-footer-img {
        height: 300px;
        width: 100% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 200% !important;
    }
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 215%;
        position: absolute;
    }
}

@media only screen and (max-width: 411px) {
    .Container-footer-img {
        height: 300px;
        width: 101% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 200% !important;
    }
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 210%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 215%;
        position: absolute;
    }
}

@media only screen and (max-width: 375px){
    .Container-footer-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 255% !important;
    }
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 275%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 275%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 280%;
        position: absolute;
    }
}

@media only screen and (max-width: 360px){
    .Container-footer-img {
        height: 300px;
        width: 120% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 230% !important;
    }
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 250%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 250%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 255%;
        position: absolute;
    }
}

@media only screen and (max-width: 320px){
    .Container-footer-img {
        height: 300px;
        width: 118% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 250% !important;
    }
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 270%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 270%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 275%;
        position: absolute;
    }
}

@media only screen and (max-width: 280px) {
    .Container-footer-img {
        height: 300px;
        width: 131% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        top: 220% !important;
    }
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw !important;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 240%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 240%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 245%;
        position: absolute;
    }
}

/*@media only screen and (max-width: 375px), screen and (max-height: 812px) {
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 310%;
    }
    .Paragraph-footer:hover {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 240, 36);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 310%;
        cursor: pointer;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 315%;
        position: absolute;
    }
}*/

