.Container-footer-img {
    height: 300px;
    width: 100%;
/*    left: 65px;
    right: 65px;*/
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
}


.Paragraph-footer {
    line-height: 0;
    font-family: Anton;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 50%;
    left: 5%;
    bottom: -105%;
}

.Empty-Div-footer {
    background: rgb(255, 240, 36);
    height: 1%;
    width: 50%;
    left: 5%;
    bottom: -105%;
    position: absolute;
}


@media only screen and (max-width: 414px) {
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 350%;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 355%;
        position: absolute;
    }
}

@media only screen and (max-width: 375px) {
    .Paragraph-footer {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 5%;
        top: 390%;
    }

    .Empty-Div-footer {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        left: 5%;
        top: 395%;
        position: absolute;
    }
}

