.Confirmation-Image-div{
    width: 100%;
    object-fit: cover;
    position: fixed;
    display: flex;
    align-items: center;
}

.Confirmation-Message-div{
    width: 40%;
    height: 60%;
    background-color: white;
    position: fixed;
    margin: 10% 0 0 5%;
}

.Confirmation-Container-div{
    position: fixed;
    margin: 8% 0 0 10%;
}

.Confirmation-Message-Text-h1-div{
    font-family: Anton;
    font-size: 1.5vw;
    background-color: rgb(255, 240, 36);
}

.Confirmation-Message-Text-p-div{
    font-family: "American Typewriter", "Times New Roman", Times;
    font-size: 1vw;
}

.Confirmation-Message-Text-p2-div{
    font-family: "American Typewriter", "Times New Roman", Times;
    font-size: 1vw;
    width: 80%;
}

.Confirmation-Yellow-second-bar-div {
    background-color: rgb(255, 240, 36);
    width: 50%;
    height: 20%;
    position: absolute;
    margin-top: 20%;
}
