.search-orders-id-text {
    font-weight: bold;
    text-decoration: underline;
}

.search-orders-id-text:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.table-search-orders {
    width: 40%;
    height: 30%;
    margin: 15% 0 0 18%;
    font-size: 75%;
    position: absolute;
}