.Cards-body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.Cards-a {
    color: #666;
}

.Cards-h1 {
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

.Cards-h4 {
    text-align: center;
    font-family: Anton;
    font-size: 1.5vw;
}

.App-payment {
    padding: 30px;
}

.Cards-form {
    margin: 30px auto 0;
    max-width: 400px;
}

.form-actions {
    margin-top: 15px;
    text-align: center;
}

.App-cards {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
}

.App-cards-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.App-cards-list > * {
    transform: scale(0.8);
    margin-bottom: 30px !important;
}

.App-highlight {
    font-family: serif;
    margin: 15px auto 0;
    max-width: 300px;
}

.App-highlight > div {
    padding-left: 40px;
}

.App-badges {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.App-badges a {
    display: block;
}

.App-badges a + a {
    margin-top: 18px;
}

.App-credits {
    background-color: #000;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.App-credits a {
    color: #fff;
    font-weight: bold;
}

.Card-App-btn {
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 5px 10px;
    width: 70%;
    text-decoration: none;
}
.Card-App-AcceptCondition {
    font-size: 0.6vw;
}

.Card-App-Pay {
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}

.Segment-Pay{
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .Cards-h4 {
        text-align: center;
        font-family: Anton;
        font-size: 1.5vw;
    }
    .Card-App-btn {
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 10px;
        width: 70%;
        height: 30%;
        text-decoration: none;
    }
    .Card-App-Pay {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
        text-align: center;
    }
    .Card-App-AcceptCondition {
        font-size: 1vw;
    }
}



@media screen and (max-width: 800px) {
    .Cards-h4 {
        text-align: center;
        font-family: Anton;
        font-size: 1.5vw;
    }
    .Card-App-Pay {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
        text-align: center;
    }
    .Card-App-AcceptCondition {
        font-size: 1vw;
    }
}

@media screen and (max-width: 768px) {
    .Cards-h4 {
        text-align: center;
        font-family: Anton;
        font-size: 1.5vw;
    }
    .Card-App-btn {
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 10px;
        width: 70%;
        height: 30%;
        text-decoration: none;
    }
    .Card-App-Pay {
        font-family: Anton;
        font-size: 4vw;
        text-transform: uppercase;
        text-align: center;
    }
    .Card-App-AcceptCondition {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 414px) {
    .Card-App-Pay {
        font-family: Anton;
        font-size: 4vw;
        text-transform: uppercase;
        text-align: center;
    }
    .Card-App-AcceptCondition {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 375px) {
    .Card-App-Pay {
        font-family: Anton;
        font-size: 4vw;
        text-transform: uppercase;
        text-align: center;
    }
    .Card-App-AcceptCondition {
        font-size: 2vw;
    }
}


@media screen and (max-width: 600px) {
    .App-badges {
        flex-direction: row;
    }

    .App-badges a + a {
        margin-top: 0;
        margin-left: 18px;
    }

    .Card-App-Pay {
        font-family: Anton;
        font-size: 4vw;
        text-transform: uppercase;
        text-align: center;
    }
    .Card-App-AcceptCondition {
        font-size: 2vw;
    }
}

