.Got-it-logo {
    top: -8%;
    right: 0;
    height: 30%;
    position: absolute;
    z-index:1;
}

/*
change fixed to absolute as before go production
*/
@media only screen and (max-width: 1024px) {
    .Got-it-logo {
        top: -12%;
        right: -1%;
        height: auto;
        width: 25%;
        position: fixed;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 768px) {
    .Got-it-logo {
        top: -6% !important;
        right: 0% !important;
        height: auto;
        width: 35% !important;
        position: fixed;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 800px) {
    .Got-it-logo {
        top: -25%;
        right: -3%;
        height: auto;
        width: 30%;
        position: fixed;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 414px) {
    .Got-it-logo {
        top: -8%;
        right: -9%;
        height: auto;
        width: 45%;
        position: fixed;
        float: right;
        z-index:1;
    }

}

@media only screen and (max-width: 411px) {
    .Got-it-logo {
        top: -5%;
        right: -2% !important;
        height: auto;
        width: 40% !important;
        position: fixed;
        float: right;
        z-index:1;
    }

}

@media only screen and (max-width: 375px) {
    .Got-it-logo {
        top: -6%;
        right: -5% !important;
        height: auto;
        width: 40% !important;
        position: fixed;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 360px) {
    .Got-it-logo {
        top: -5%;
        right: -5%;
        height: auto;
        width: 35% !important;
        position: fixed;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 320px) {
    .Got-it-logo {
        top: -5%;
        right: 8%;
        height: auto;
        width: 45%;
        position: fixed;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 280px) {
    .Got-it-logo {
        top: -5%;
        right: -10%;
        height: auto;
        width: 60%;
        position: fixed;
        float: right;
        z-index:1;
    }
}