.Got-it-logo {
    top: -6%;
    right: 0;
    height: 30%;
    position: absolute;
    z-index:1;
}

@media only screen and (max-width: 1024px) {
    .Got-it-logo {
        top: -5% !important;
        right: -2% !important;
        height: auto !important;
        width: 25%;
        position: absolute;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 768px) {
    .Got-it-logo {
        top: -6% !important;
        right: -10% !important;
        height: auto !important;
        width: 35% !important;
        position: absolute;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 414px) {
    .Got-it-logo {
        top: -5% !important;
        right: -10% !important;
        height: auto !important;
        width: 45%;
        position: absolute;
        float: right;
        z-index:1;
    }

}

@media only screen and (max-width: 411px) {
    .Got-it-logo {
        top: -5% !important;
        right: -10% !important;
        height: auto !important;
        width: 45%;
        position: absolute;
        float: right;
        z-index:1;
    }

}

@media only screen and (max-width: 375px) {
    .Got-it-logo {
        top: -6% !important;
        right: -10% !important;
        height: auto !important;
        width: 40% !important;
        position: absolute;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 360px) {
    .Got-it-logo {
        top: -5% !important;
        right: -5% !important;
        height: auto !important;
        width: 45% !important;
        position: absolute;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 320px) {
    .Got-it-logo {
        top: -5%;
        right: 8% !important;
        height: auto;
        width: 45%;
        position: absolute;
        float: right;
        z-index:1;
    }
}

@media only screen and (max-width: 280px) {
    .Got-it-logo {
        top: -5% !important;
        right: -10% !important;
        height: auto !important;
        width: 60%;
        position: absolute;
        float: right;
        z-index:1;
    }
}