.Checkout-Yellow-bar-div {
    background-color: rgb(255, 240, 36);
    width: 6%;
    height: 100%;
    position: absolute;
}

.Checkout-Empty-Div{
    background: rgb(255, 240, 36);
    height: 15%;
    width: 50%;
    margin-top: 18%;
    position: absolute;
    left: 15%;
}

.Checkout-Grid {
    top: 45%;
    left: 16%;
    position: absolute;
}

.Checkout-Inner-Grid{}

.Checkout-Message-Text{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.Checkout-Mandatory-Info-Text{
    font-family: Anton;
    font-size: 0.8vw;
    font-weight: initial;
    color: red;
}

.Checkout-Email-Text{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Checkout-Email-Text-Input{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
    margin-top: -10%;
}

.Checkout-forgot-password-text{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Checkout-forgot-password-text:hover{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
    cursor: pointer;
    color: red;
}

.Checkout-Error-Text{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
    text-align: center;
}


.Checkout-Text-Button {
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Checkout-Continue-Button{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    width: 60%;

}

.Checkout-Continue-Button:focus{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    width: 60%;
}

.Checkout-Continue-Guest-Button{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    width: 60%;
    margin-left: -30% !important;
}

.Checkout-Continue-Guest-Button:focus{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    width: 60%;
    margin-left: -30% !important;
}

.Checkout-Continue-New-Button{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    width: 60%;
    margin-left: 0% !important;
}

.Checkout-Continue-New-Button:focus{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
    width: 60%;
    margin-left: 0% !important;
}

.Checkout-footer{
    width: 100%;
    position: absolute;
    margin-top: 20%;
    left: -10%;
}


.Choose-Empty-Left-Div{
    background: black;
    height: 15%;
    width: 80%;
    position: absolute;
}

.Choose-Empty-Right-Div{
    background: black;
    height: 15%;
    width: 80%;
    position: absolute;
}

.Vertical-Empty-Div{
    background: rgb(255, 240, 36);
    height: 80%;
    width: 5%;
    position: absolute;
}

.Checkout-Divider-Choose{
    font-family: "Anton";
    font-size: 1vw;
    margin-top: -3%;
}

.Div-As-Member-Title-Line{
    left: -10% !important;
}

.Div-As-Member-Line{
    left: -5% !important;
}

.Div-Choose-Line{
    left: -30% !important;
}

.Continue-As-Guest-Grid{
    margin-left: -30% !important;
    width: 100%;
}

.Div-Choose-Or-Line{
    left: -45%;
}

.New-Member-Note-Message-Label{
    font-family: "Anton";
    text-align: justify;
    text-justify: inter-word;
    left: -10%;
}

.Modal-Div{
    height: auto !important;
    width: 50% !important;
    position: static !important;
}

.Member-Text{
    font-family: "American Typewriter";
    font-size: 0.2vw;
    color: black;
}

.Info-Text{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
    width: 70%;
}

.Account-Button{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    align-content: center;
}

.Account-Text-Button {
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Account-Divider{
    height: 0.5%;
    width: 5%;
    color: rgb(255, 240, 36);
    background-color: rgb(255, 240, 36);
}

.Account-Empty-Div{
    background: rgb(255, 240, 36);
    height: 100%;
    width: 5%;
    /*
    margin-top: 10%;
    */
    position: absolute;
}

@media only screen and (max-width: 1024px) {
    .Checkout-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 7%;
        height: 140%;
        position: absolute;
    }

    .Checkout-Empty-Div{
        background: rgb(255, 240, 36);
        height: 15%;
        width: 50%;
        margin-top: 18%;
        position: absolute;
        left: 15%;
    }

    .Checkout-Grid {
        top: 65%;
        left: 16%;
        position: absolute;
    }

    .Checkout-Message-Text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-Mandatory-Info-Text{
        font-family: Anton;
        font-size: 0.8vw;
        font-weight: initial;
        color: red;
    }

    .Checkout-Email-Text{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
    }

    .Checkout-Email-Text-Input{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
        margin-top: -10%;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Error-Text{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
        text-align: center;
    }


    .Checkout-Text-Button {
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
    }

    .Checkout-Continue-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        text-decoration: none;
        outline: none;
        width: 60%;
    }

    .Checkout-Continue-Button:focus{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        text-decoration: none;
        outline: none;
        width: 60%;
    }

    .Checkout-Continue-Guest-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        text-decoration: none;
        outline: none;
        width: 60%;
        margin-left: -30% !important;
    }

    .Checkout-Continue-Guest-Button:focus{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        text-decoration: none;
        outline: none;
        width: 60%;
        margin-left: -30% !important;
    }

    .Checkout-Continue-New-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        text-decoration: none;
        outline: none;
        width: 60%;
        margin-left: 0% !important;
    }

    .Checkout-Continue-New-Button:focus{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        text-decoration: none;
        outline: none;
        width: 60%;
        margin-left: 0% !important;
    }

    .Checkout-footer{
        width: 100%;
        position: absolute;
        left: -10%;
        margin-top: -200%;
    }


    .Choose-Empty-Left-Div{
        background: black;
        height: 15%;
        width: 80%;
        position: absolute;
    }

    .Choose-Empty-Right-Div{
        background: black;
        height: 15%;
        width: 80%;
        position: absolute;
    }

    .Vertical-Empty-Div{
        background: rgb(255, 240, 36);
        height: 80%;
        width: 5%;
        position: absolute;
    }

    .Checkout-Divider-Choose{
        font-family: "Anton";
        font-size: 1vw;
        margin-top: -3%;
    }

    .Div-As-Member-Title-Line{
        left: -10% !important;
    }

    .Div-As-Member-Line{
        left: -5% !important;
    }

    .Div-Choose-Line{
        left: -30% !important;
    }

    .Div-Choose-Or-Line{
        left: -45%;
    }

    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        left: -10%;
    }

/*    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        font-size: 2vw !important;
        left: 2%;
        white-space: normal;
        width: 220% !important;
        height: 100%;
    }*/

    .Modal-Div{
        height: auto !important;
        width: 50% !important;
        position: static !important;
    }

    .Member-Text{
        font-family: "American Typewriter";
        font-size: 0.2vw;
        color: black;
    }

    .Info-Text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        width: 70%;
    }

    .Account-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 10px 20px;
        align-content: center;
    }

    .Account-Text-Button {
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
    }

    .Account-Divider{
        height: 0.5%;
        width: 5%;
        color: rgb(255, 240, 36);
        background-color: rgb(255, 240, 36);
    }

    .Account-Empty-Div{
        background: rgb(255, 240, 36);
        height: 100%;
        width: 5%;
        /*
        margin-top: 10%;
        */
        position: absolute;
    }

}

@media only screen and (max-width: 800px) {
    .Div-As-Member-Title-Line{
        left: 1% !important;
    }

    .Div-Choose-Or-Line{
        left: 5%;
    }

    .Div-Choose-Line{
        left: 5% !important;
    }

    .Div-As-Member-Line{
        left: 7% !important;
    }

    .Choose-Empty-Left-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 15%;
    }

    .Choose-Empty-Right-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 5%;
    }

    .Checkout-Divider-Choose{
        font-family: "Anton";
        font-size: 3vw;
    }

    .Vertical-Empty-Div{
        background: rgb(255, 240, 36);
        height: 80%;
        width: 5%;
        position: absolute;
        right: 20%;
    }

    .Checkout-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 9%;
        height: 200%;
        position: absolute;
    }

    .Checkout-Grid {
        top: 100%;
        left: 18%;
        position: absolute;
        width: 80%;
        height: 50%;
    }
    .Checkout-Inner-Grid {
        top: 2%;
        left: 10%;
        position: absolute;
        width: 220%;
        height: 50%;
    }

    .Checkout-Message-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-Email-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Error-Text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-Text-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-Continue-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
    }

    .Checkout-Continue-Guest-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .Checkout-Continue-New-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        font-size: 2vw !important;
        left: 2%;
        white-space: normal;
        width: 260% !important;
        height: 100%;
    }

    .Checkout-Empty-Div{
        background: rgb(255, 240, 36);
        height: 15%;
        width: 50%;
        top: 60%;
        position: absolute;
    }

    .Checkout-footer{
        width: 100%;
        position: absolute;
        top: -100% ;
        left: -5%;
    }

    .Modal-Div{
        height: 35% !important;
        width: 90% !important;
        position: static !important;
    }

    .Info-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Account-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 8px;
        align-content: center;
    }

    .Account-Text-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

}
@media only screen and (max-width: 768px) {
    .Checkout-Mandatory-Info-Text{
        font-family: Anton;
        font-size: 2vw;
        font-weight: initial;
        color: red;
    }
    .Div-As-Member-Title-Line{
        left: 1% !important;
    }

    .Div-Choose-Or-Line{
        left: 5%;
    }

    .Div-Choose-Line{
        left: 5% !important;
    }

    .Div-As-Member-Line{
        left: 7% !important;
    }

    .Choose-Empty-Left-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 15%;
    }

    .Choose-Empty-Right-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 5%;
    }

    .Checkout-Divider-Choose{
        font-family: "Anton";
        font-size: 3vw;
    }

    .Vertical-Empty-Div{
        background: rgb(255, 240, 36);
        height: 80%;
        width: 5%;
        position: absolute;
        right: 20%;
    }

    .Checkout-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 12%;
        height: 120%;
        position: absolute;
    }

    .Checkout-Grid {
        top: 40%;
        left: 20%;
        position: absolute;
        width: 80%;
        height: 50%;
    }
    .Checkout-Inner-Grid {
        top: 2%;
        left: 10%;
        position: absolute;
        width: 220%;
        height: 50%;
    }

    .Checkout-Message-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Checkout-Email-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Error-Text{
        font-family: Anton;
        font-size: 2vw !important;
        text-transform: uppercase;
    }

    .Checkout-Text-Button {
        font-family: Anton;
        font-size: 2.5vw;
        text-transform: uppercase;
    }

    .Checkout-Continue-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
    }

    .Checkout-Continue-Guest-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .Checkout-Continue-New-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        font-size: 2vw !important;
        left: 2%;
        white-space: normal;
        width: 220% !important;
        height: 100%;
    }

    .Checkout-Empty-Div{
        background: rgb(255, 240, 36);
        height: 15%;
        width: 50%;
        margin-top: 90%;
        position: absolute;
    }

    .Checkout-footer{
        width: 100%;
        position: absolute;
        margin-top: 100%;
        left: -5%;
    }

    .Modal-Div{
        height: 45% !important;
        width: 90% !important;
        position: static !important;
    }

    .Info-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Account-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 8px;
        align-content: center;
    }

    .Account-Text-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

}

@media only screen and (max-width: 414px) {
    .Div-As-Member-Title-Line{
        left: 1% !important;
    }

    .Div-Choose-Or-Line{
        left: 5%;
    }

    .Div-Choose-Line{
        left: 5% !important;
    }

    .Div-As-Member-Line{
        left: 7% !important;
    }

    .Choose-Empty-Left-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 15%;
    }

    .Choose-Empty-Right-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 5%;
    }

    .Checkout-Divider-Choose{
        font-family: "Anton";
        font-size: 3vw;
    }

    .Vertical-Empty-Div{
        background: rgb(255, 240, 36);
        height: 80%;
        width: 5%;
        position: absolute;
        right: 20%;
    }

    .Checkout-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 120%;
        position: absolute;
    }

    .Checkout-Grid {
        top: 40%;
        left: 20%;
        position: absolute;
        width: 80%;
        height: 50%;
    }
    .Checkout-Inner-Grid {
        top: 2%;
        left: 10%;
        position: absolute;
        width: 220%;
        height: 50%;
    }

    .Checkout-Message-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Checkout-Email-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Error-Text{
        font-family: Anton;
        font-size: 2vw !important;
        text-transform: uppercase;
    }

    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        font-size: 2vw !important;
        left: 2%;
        white-space: normal;
        width: 220% !important;
        height: 100%;
    }

    .Checkout-Text-Button {
        font-family: Anton;
        font-size: 2.5vw;
        text-transform: uppercase;
    }

    .Checkout-Continue-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
    }

    .Checkout-Continue-Guest-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .Checkout-Continue-New-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .Checkout-Empty-Div{
        background: rgb(255, 240, 36);
        height: 15%;
        width: 50%;
        margin-top: 90%;
        position: absolute;
    }

    .Checkout-footer{
        width: 100%;
        position: absolute;
        margin-top: 100%;
        left: -5%;
    }

    .Modal-Div{
        height: 45% !important;
        width: 90% !important;
        position: static !important;
    }

    .Info-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Account-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 8px;
        align-content: center;
    }

    .Account-Text-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

}

@media only screen and (max-width: 375px) {
    .Div-As-Member-Title-Line{
        left: -5% !important;
    }

    .Div-Choose-Or-Line{
        left: 12%;
    }

    .Div-Choose-Line{
        left: 12% !important;
    }

    .Div-As-Member-Line{
        left: 5% !important;
    }

    .Choose-Empty-Left-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 15%;
    }

    .Choose-Empty-Right-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 5%;
    }

    .Checkout-Divider-Choose{
        font-family: "Anton";
        font-size: 3vw;
    }

    .Vertical-Empty-Div{
        background: rgb(255, 240, 36);
        height: 80%;
        width: 5%;
        position: absolute;
        right: 50%;
    }
    .Checkout-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 120%;
        position: absolute;
    }

    .Checkout-Grid {
        top: 55%;
        left: 20%;
        position: absolute;
        width: 80%;
        height: 50%;
    }
    .Checkout-Inner-Grid {
        top: 2%;
        left: -1%;
        position: absolute;
        width: 200%;
        height: 50%;
    }

    .Checkout-Message-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Checkout-Email-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Email-Text-Input{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
        margin-top: -60%;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Text-Button {
        font-family: Anton;
        font-size: 2.5vw;
        text-transform: uppercase;
    }

    .Checkout-Continue-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
    }

    .Checkout-Continue-Guest-Button{
        background-color: rgb(255, 240, 36);
        border-style: dashed;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 12px !important;
    }

    .Checkout-Continue-New-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        font-size: 2vw !important;
        left: 2%;
        white-space: normal;
        width: 220% !important;
        height: 100%;
    }

    .Checkout-Empty-Div{
        background: rgb(255, 240, 36);
        height: 15%;
        width: 50%;
        margin-top: 70%;
        position: absolute;
    }

    .Checkout-footer{
        width: 100%;
        position: absolute;
        margin-top: 85%;
        left: -5%;
    }

    .Modal-Div{
        height: 48% !important;
        width: 90% !important;
        position: static !important;
    }

    .Info-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Account-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 8px;
        align-content: center;
    }

    .Account-Text-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

}

@media only screen and (max-width: 360px) {
    .Div-As-Member-Title-Line{
        left: -5% !important;
    }

    .Div-Choose-Or-Line{
        left: 12%;
    }

    .Div-Choose-Line{
        left: 12% !important;
    }

    .Div-As-Member-Line{
        left: 5% !important;
    }

    .Choose-Empty-Left-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 15%;
    }

    .Choose-Empty-Right-Div{
        background: black;
        height: 30%;
        width: 80%;
        position: absolute;
        right: 5%;
    }

    .Checkout-Divider-Choose{
        font-family: "Anton";
        font-size: 3vw;
    }

    .Vertical-Empty-Div{
        background: rgb(255, 240, 36);
        height: 80%;
        width: 5%;
        position: absolute;
        right: 50%;
    }
    .Checkout-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 120%;
        position: absolute;
    }

    .Checkout-Grid {
        top: 55%;
        left: 20%;
        position: absolute;
        width: 80%;
        height: 50%;
    }
    .Checkout-Inner-Grid {
        top: 2%;
        left: -1%;
        position: absolute;
        width: 200%;
        height: 50%;
    }

    .Checkout-Message-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Checkout-Email-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Email-Text-Input{
        font-family: Anton;
        font-size: 1vw;
        text-transform: uppercase;
        margin-top: -60%;
    }

    .Checkout-forgot-password-text{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
    }

    .Checkout-forgot-password-text:hover{
        font-family: Anton;
        font-size: 1.5vw;
        text-transform: uppercase;
        cursor: pointer;
        color: red;
    }

    .Checkout-Text-Button {
        font-family: Anton;
        font-size: 2.4vw;
        text-transform: uppercase;
    }

    .Checkout-Continue-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
    }

    .Checkout-Continue-Guest-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 12%;
    }

    .Checkout-Continue-New-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 2px 5px;
        margin-left: 5% !important;
        white-space: nowrap;
        width: 140%;
    }

    .New-Member-Note-Message-Label{
        font-family: "Anton";
        text-align: justify;
        text-justify: inter-word;
        font-size: 2vw !important;
        left: 2%;
        white-space: normal;
        width: 220% !important;
        height: 100%;
    }

    .Checkout-Empty-Div{
        background: rgb(255, 240, 36);
        height: 15%;
        width: 50%;
        margin-top: 78%;
        position: absolute;
    }

    .Checkout-footer{
        width: 100%;
        position: absolute;
        margin-top: 90%;
        left: -5%;
    }

    .Modal-Div{
        height: 48% !important;
        width: 75% !important;
        position: static !important;
    }

    .Info-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .Account-Button{
        background-color: rgb(255, 240, 36);
        border-style: none;
        border-color: rgb(255, 240, 36);
        padding: 5px 8px;
        align-content: center;
    }

    .Account-Text-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

}
