.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: black;
}

.Slick-Container-div {
    text-align: center;
    width: 33%;
    margin: 6% 0 0 15%;
}

.Yellow-bar-div {
    background-color: rgb(255, 240, 36);
    width: 6%;
    height: 110%;
    position: absolute;
}

.Product-Details-Div {
    float: right;
    position: absolute;
    top: 25%;
    right: 22%;
}

.Product-Details-Empty-Div{
    background: rgb(255, 240, 36);
    height: 1%;
    width: 50%;
    top: 135%;
    left: 22%;
    position: absolute;
    align-items: center;
}

.Middle-div {
    top: 50%;
    position: absolute;
}

.Reco-Container-div {
    margin: 5% 0 0 17%;
    position: absolute;
    width: 60%;
    height: 110%;
    top: 140%;
    align-content: center;
}

.Product-Details-footer{
    width: 100%;
    position: absolute;
    top: 230% !important;
    left: -5%;
}

@media only screen and (min-width: 2560px) {
    .Slick-Container-div {
        text-align: center;
        width: 45%;
        margin: 5% 0 0 10%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 6%;
        height: 200%;
        position: absolute;
    }

    .Product-Details-Div {
        float: right;
        position: absolute;
        top: 25%;
        right: 15%;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 210% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Middle-div {
        top: 50%;
        position: absolute;
    }

    .Reco-Container-div {
        margin: 5% 0 0 17%;
        position: absolute;
        width: 60%;
        height: 110%;
        top: 160%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 230%;
        left: -5%;
    }

}

@media only screen and (min-width: 1920px) {
    .Slick-Container-div {
        text-align: center;
        width: 45%;
        margin: 5% 0 0 10%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 6%;
        height: 200%;
        position: absolute;
    }

    .Product-Details-Div {
        float: right;
        position: absolute;
        top: 25%;
        right: 15%;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 210%;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Middle-div {
        top: 50%;
        position: absolute;
    }

    .Reco-Container-div {
        margin: 5% 0 0 17%;
        position: absolute;
        width: 60%;
        height: 110%;
        top: 160%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 230%;
        left: -5%;
    }

}

@media only screen and (max-width: 1024px) {
    .Slick-Container-div {
        text-align: center;
        width: 92%;
        margin: 0 0 0 12%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 12%;
        height: 150%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 230% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 20% 0 0 10%;
        position: absolute;
        top: 95% !important;
        width: 50%;
        right: 20%;
    }

    .Reco-Container-div {
        margin: 40% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 240% !important;
        left: 0;
    }
}

@media only screen and (max-width: 834px) {
    .Slick-Container-div {
        text-align: center;
        width: 92%;
        margin: 0 0 0 12%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 12%;
        height: 150%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 230% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 20% 0 0 10%;
        position: absolute;
        top: 95% !important;
        width: 50%;
        right: 20%;
    }

    .Reco-Container-div {
        margin: 40% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 240% !important;
        left: 0;
    }
}

@media only screen and (max-width: 810px) {
    .Slick-Container-div {
        text-align: center;
        width: 92%;
        margin: 0 0 0 12%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 12%;
        height: 150%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 230%;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 20% 0 0 10%;
        position: absolute;
        top: 95% !important;
        width: 50%;
        right: 20%;
    }

    .Reco-Container-div {
        margin: 40% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 240% !important;
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .Slick-Container-div {
        text-align: center;
        width: 50%;
        margin: 0 0 0 10%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 9%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 390% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        position: absolute;
        width: 20%;
        right: 16%;
        top: -15% !important;
    }

    .Reco-Container-div {
        margin: 60% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
        top: 80%;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 400% !important;
        left: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .Slick-Container-div {
        text-align: center;
        width: 92%;
        margin: 0 0 0 12%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 12%;
        height: 150%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 230%;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 15% 0 0 50%;
        position: absolute;
        top: 95% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 240% !important;
        left: 0;
    }
}

@media only screen and (max-width: 540px) {
    .Slick-Container-div {
        text-align: center;
        width: 80%;
        margin: 0 0 0 18%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 15%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 170%;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 10% 0 0 50%;
        position: absolute;
        top: 75% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 50% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 180% !important;
        left: 0;
    }
}

@media only screen and (max-width: 428px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 16%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 16%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 200% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 10% 0 0 50%;
        position: absolute;
        top: 75% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 70% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
        top: 95%;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 210% !important;
        left: 0;
    }
}

@media only screen and (max-width: 414px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 16%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 16%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 200% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 10% 0 0 50%;
        position: absolute;
        top: 78% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 70% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
        top: 95%;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 210% !important;
        left: 0;
    }
}

@media only screen and (max-width: 412px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 16%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 16%;
        height: 135%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 230% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 20% 0 0 50%;
        position: absolute;
        top: 75% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 80% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
        top: 100%;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 240% !important;
        left: 0;
    }
}

@media only screen and (max-width: 411px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 16%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 16%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 200% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 10% 0 0 50%;
        position: absolute;
        top: 75% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 70% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
        top: 95%;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 210% !important;
        left: 0;
    }
}

@media only screen and (max-width: 390px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 15.5%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 15%;
        height: 140%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        margin-top: 75% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 0 0 0 50%;
        position: absolute;
        top: 80% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 260% !important;
        left: 0;
    }

}

@media only screen and (max-width: 375px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 16%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 16%;
        height: 140%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        margin-top: 75% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 0 0 0 50%;
        position: absolute;
        top: 95% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 260% !important;
        left: 0;
    }

}

@media only screen and (max-width: 360px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 18%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 18%;
        height: 140%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        margin-top: 75% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        margin: 0 0 0 50%;
        position: absolute;
        top: 85% !important;
        width: 50%;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 260% !important;
        left: 0;
    }

}

@media only screen and (max-width: 320px) {
    .Slick-Container-div {
        text-align: center;
        width: 87%;
        margin: 0 0 0 18%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 18%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Empty-Div{
        background: rgb(255, 240, 36);
        height: 1%;
        width: 50%;
        top: 200% !important;
        left: 22%;
        position: absolute;
        align-items: center;
    }

    .Product-Details-Div {
        position: absolute;
        top: 85% !important;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 250% !important;
        left: 0;
    }

}
