.Product-Name-Div{
    font-family: Anton;
    font-size: 2.5vw;
    text-transform: uppercase;
    color: black;
}


.Product-Props-Div{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: black;
}


.Product-Delivery-Div{
    font-family: Anton;
    font-size: 0.7vw;
    text-transform: lowercase;
    color: black;
    text-underline: none;
    text-decoration: none;
    left: 20%;
    display: block;

}
.Product-Delivery-Div:hover{
    color: rgb(255, 240, 36);
}
.Product-Form-Div {
    margin: 10% 0 0 0;
    position: absolute;
}

.Product-Grid-Div{
    font-family: "American Typewriter";
    font-size: 0.6vw;
    text-transform: lowercase;
    color: black;
}

.Grid-Container-Div {
    margin: 140% 0 0 0;
    position: absolute;
}

.Got-it-logo-product-details {
    top: -6%;
    right: 0;
    width: 20%;
    height: 30%;
    position: absolute;
}

@media only screen and (max-width: 414px) {
    .Product-Name-Div{
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: black;
    }


    .Product-Props-Div{
        font-family: Anton;
        font-size: 3vw;
        text-transform: lowercase;
        color: black;
    }

    .Product-Form-Div {
        margin: 10% 0 0 0;
        position: absolute;
        width: 100%;
    }

    .Product-Delivery-Div{
        display: none;
    }
    .Product-Grid-Div{
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .Product-Name-Div{
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: black;
    }


    .Product-Props-Div{
        font-family: Anton;
        font-size: 3vw;
        text-transform: lowercase;
        color: black;
    }

    .Product-Form-Div {
        margin: 10% 0 0 0;
        position: absolute;
        width: 100%;
    }

    .Product-Delivery-Div{
        display: none;
    }
    .Product-Grid-Div{
        display: none;
    }

}