.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: black;
}

.Slick-Container-div {
    text-align: center;
    width: 35%;
    margin: 0 0 0 15%;
}

.Yellow-bar-div {
    background-color: rgb(255, 240, 36);
    width: 10%;
    height: 110%;
    position: absolute;
}

.Product-Details-Div {
    float: right;
    position: absolute;
    top: 10%;
    right: 20%;
}

.Product-Details-Empty-Div{
    background: rgb(255, 240, 36);
    height: 1%;
    width: 50%;
    top: 160%;
    left: 22%;
    position: absolute;
    align-items: center;
}

.Reco-Container-div {
    margin: 5% 0 0 17%;
    position: absolute;
    width: 60%;
    align-content: center;
}

.Product-Details-footer{
    width: 100%;
    position: absolute;
    top: 170%;
    left: -5%;
}

@media only screen and (max-width: 414px) {
    .Slick-Container-div {
        text-align: center;
        width: 80%;
        margin: 0 0 0 18%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 15%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Div {
        position: absolute;
        top: 65%;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 170%;
        left: 0;
    }
}

@media only screen and (max-width: 375px) {
    .Slick-Container-div {
        text-align: center;
        width: 80%;
        margin: 0 0 0 18%;
    }

    .Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 15%;
        height: 100%;
        position: absolute;
    }

    .Product-Details-Div {
        position: absolute;
        top: 65%;
    }

    .Reco-Container-div {
        margin: 100% 0 0 0;
        position: absolute;
        width: 100%;
        align-content: center;
    }

    .Product-Details-footer{
        width: 100%;
        position: absolute;
        top: 170%;
        left: 0;
    }

}
