/*
.Container-img {
    height: 300px;
    width: 1310px;
    left: 65px;
    right: 65px;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
}


.Paragraph-footer {
    line-height: 0;
    font-family: Anton;
    font-size: 56px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 120px;
    top: 100px;
}

.Empty-Div-footer {
    background: rgb(255, 240, 36);
    height: 12px;
    width: 700px;
    left: 120px;
    top: 200px;
    position: absolute;
    display: block;
}

.Container-footer {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    vertical-align: center;
}*/

.Footer-Container-Div {
    width: 100%;
    position: absolute;
    top: 230%;
    left: -5%;
}

@media only screen and (max-width: 540px) {
    .Footer-Container-Div {
        width: 100%;
        position: absolute;
        top: 380%;
        left: 0%;
    }
    .Footer-Container-Div {
        position: absolute;
    }
}

@media only screen and (max-width: 414px) {
    .Footer-Container-Div {
        width: 100%;
        position: absolute;
        top: 380%;
        left: 0%;
    }
    .Footer-Container-Div {
        position: absolute;
    }

}

@media only screen and (max-width: 375px) {
    .Footer-Container-Div {
        width: 100%;
        position: absolute;
        top: 420%;
    }
}

@media only screen and (max-width: 280px) {
    .Footer-Container-Div {
        width: 100%;
        position: absolute;
        top: 420%;
    }
}


