.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%f' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-indicators li {
    background-color: black;
}

.Slick-Container-div {
    text-align: center;
    width: 50%;
    margin: 0 0 0 10%;
}

.Yellow-bar-div {
    background-color: rgb(255, 240, 36);
    width: 10%;
    height: 100%;
    position: absolute;
}

.Product-Details-Div {
    float: right;
    position: absolute;
    top: 10%;
    right: 20%;
}
