.Connexion-Button{
    position: fixed;
    width: 40px;
    height: 35px;
    left: 22px;
    top: 125px;
    border-image: 0;
    border: 0;
    z-index: 1;
}
.Connexion-Button:hover{
    color: rgb(255, 240, 36);
    border-color: rgb(255, 240, 36);
    position: fixed;
    width: 40px;
    height: 35px;
    left: 22px;
    top: 125px;
    cursor: pointer;
}
.Connexion-Button:focus{
    color: rgb(255, 240, 36);
    border-color: rgb(255, 240, 36);
    position: fixed;
    width: 40px;
    height: 35px;
    left: 22px;
    top: 135px;
}
.Connexion-Message-Text{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.Connexion-Email-Text{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Connexion-Text-Button {
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Connexion-Continue-Button{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    text-decoration: none;
    outline: none;
}

@media only screen and (max-width: 1024px) {
    .Connexion-Email-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
    .Connexion-Button{
        background: url('./user.png');
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        border-image: 0;
        border: 0;
    }
    .Connexion-Button:hover{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        cursor: pointer;
    }
    .Connexion-Button:focus{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
    }
    .Connexion-Text-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 800px) {
    .Connexion-Email-Text{
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }
    .Connexion-Button{
        background: url('./user.png');
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        border-image: 0;
        border: 0;
    }
    .Connexion-Button:hover{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        cursor: pointer;
    }
    .Connexion-Button:focus{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
    }
    .Connexion-Text-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 768px) {
    .Connexion-Email-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
    .Connexion-Button{
        background: url('./user.png');
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        border-image: 0;
        border: 0;
    }
    .Connexion-Button:hover{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        cursor: pointer;
    }
    .Connexion-Button:focus{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
    }
    .Connexion-Text-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 540px) {
    .Connexion-Email-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
    .Connexion-Button{
        background: url('./user.png');
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        border-image: 0;
        border: 0;
    }
    .Connexion-Button:hover{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
        cursor: pointer;
    }
    .Connexion-Button:focus{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 25px;
        top: 125px;
    }
    .Connexion-Text-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 414px) {
    .Connexion-Email-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
    .Connexion-Button{
        background: url('./user.png');
        position: fixed;
        width: 30px;
        height: 28px;
        left: 22px;
        top: 105px;
        border-image: 0;
        border: 0;
    }
    .Connexion-Button:hover{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 22px;
        top: 105px;
        cursor: pointer;
    }
    .Connexion-Button:focus{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 22px;
        top: 105px;
    }
    .Connexion-Text-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 375px) {
    .Connexion-Email-Text{
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }
    .Connexion-Button{
        background: url('./user.png');
        position: fixed;
        width: 30px;
        height: 28px;
        left: 22px;
        top: 105px;
        border-image: 0;
        border: 0;
    }
    .Connexion-Button:hover{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 22px;
        top: 105px;
        cursor: pointer;
    }
    .Connexion-Button:focus{
        color: rgb(255, 240, 36);
        border-color: rgb(255, 240, 36);
        position: fixed;
        width: 30px;
        height: 28px;
        left: 22px;
        top: 105px;
    }
    .Connexion-Text-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

}