
.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 3px solid rgb(255, 240, 36) !important;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border-right: 5px solid rgb(255, 240, 36) !important;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
    border-bottom: 1px solid #000000 !important;
}

.rwt__tablist[aria-orientation="vertical"] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #000000 !important;
    margin-right: 1rem;
}

.progress {
    overflow: visible;
}
.log-off-icon{
}
.log-off-icon:hover{
    cursor: pointer;
}
.log-off-text{
    font-family: Anton;
    font-size: 70%;
    width: 5%;
    padding-top: 1%;
    text-decoration: underline;
    position: absolute;
}

.TabAccount-Welcome-Message{
    font-family: Anton;
    font-size: 180%;
    top: 45%;
    left: 20%;
    position: absolute;
}

.TabAccount-Welcome-Icon{
    height: 5%;
    width: 5%;
}

.TabAccount-Menu-Message {
    font-family: Anton;
    font-size: 1vw;
}

.TabAccount-Label-Message {
}

.TabAccount-Message-Colorized {
    font-family: Anton;
    font-size: 1vm;
    padding-left: 5%;
    color: #555555;
    background-color: rgb(255, 240, 36);
}

.TabAccount-Message{
    font-family: Anton;
    font-size: 1vm;
    padding-left: 5%;
}

.TabAccount-Orders-Message{
    font-family: Anton;
    font-size: 1vm;
    padding-left: 5%;
}

.TabAccount-Grid{
    left: 5%;
}

.TabAccount-Grid-User{
    left: 5%;
}

.TabAccount-Text{
    font-family: Anton;
    font-size: 1vw;
}

.TabAccount-EditUser-Icon{
    height: 20%;
    width: 40%;
}

.TabAccount-EditUser-Icon:hover{
    height: 20%;
    width: 40%;
    cursor: pointer;
}

.TabAccount-Edit-Button{
    background-color: rgb(255, 240, 36);
    border-style: none;
    border-color: rgb(255, 240, 36);
    padding: 10px 20px;
    align-content: center;
}

.TabAccount-Text-Edit-Button {
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.TabAccount-User-Modal{
    position: static !important;
    height: auto !important;
    width: 50% !important;
}

.TabAccount-Progress-Text {
    font-size: 90%;
}

.TabAccount-User-Grid{
}

.TabAccount-Orders-Grid{
}

.TabAccount-Orders-Product{
    left: 40px;
}

.TabAccount-Orders-Separator-Product{
    background: rgb(255, 240, 36);;
    height: 10%;
    width: 40%;
    position: absolute;

}

@media only screen and (max-width: 1024px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 25%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 2vw !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 2vw !important;
    }

    .TabAccount-Grid{
        left: 10% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User{
        left: 10% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 300% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 300% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 90% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        max-width: 1230px !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 80% !important;
        left: 20% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
    }

    .TabAccount-Progress-Text {
        font-size: 50%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 20px;
    }

}

@media only screen and (max-width: 768px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 30%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 2vw !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 2vw !important;
    }

    .TabAccount-Grid-User{
        left: 10% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 10% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 300% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 300% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 90% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        max-width: 1230px !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 80% !important;
        left: 20% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
    }

    .TabAccount-Progress-Text {
        font-size: 50%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 20px;
    }

}

@media only screen and (max-width: 540px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 45%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 5% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 5% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 500% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 500% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 2vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }
}

@media only screen and (max-width: 414px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 45%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 25% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User2{
        left: 80% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 500% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 800% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }
}

@media only screen and (max-width: 411px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 45%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 30% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User2{
        left: 80% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 500% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 800% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }
}
@media only screen and (max-width: 375px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 45%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 30% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User2{
        left: 80% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 500% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 800% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }
}

@media only screen and (max-width: 360px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 45%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }

    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 30% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User2{
        left: 80% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 500% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 800% !important;
        height: auto !important;
    }


    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }
}
@media only screen and (max-width: 320px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 50%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 30% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User2{
        left: 80% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 500% !important;
        padding-left: 70%;
    }

    .TabAccount-User-Grid{
        width: 950% !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -500%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }
    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }
}

@media only screen and (max-width: 280px) {
    .TabAccount-Welcome-Message{
        font-family: Anton;
        font-size: 4vw;
        top: 50%;
        left: 20%;
        position: absolute;
    }
    .TabAccount-Welcome-Icon{
        height: 10%;
        width: 10%;
    }
    .log-off-icon{
    }
    .log-off-icon:hover{
        cursor: pointer;
    }
    .log-off-text{
        font-family: Anton;
        font-size: 3vw;
        width: 15%;
        padding-top: 1%;
        text-decoration: underline;
        position: absolute;
    }
    .TabAccount-Menu-Message {
        font-family: Anton;
        font-size: 3vw;
    }

    .TabAccount-Label-Message{
        width: 60% !important;
        font-size: 3vw !important;
        left: 80% !important;
    }

    .TabAccount-Message{
        font-family: Anton;
        font-size: 70% !important;
        padding: 0 20% 0 20% !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
    }
    .TabAccount-Message-Pwd{
        font-family: Anton;
        font-size: 70% !important;
    }

    .TabAccount-Grid-User{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid-User2{
        left: 30% !important;
        width: auto !important;
    }

    .TabAccount-Grid{
        left: 15% !important;
        width: auto !important;
    }

    .TabAccount-Grid2{
        width: 600% !important;
        padding-left: 66%;
    }

    .TabAccount-User-Grid{
        width: 150px !important;
        height: auto !important;
    }

    .TabAccount-EditUser-Icon{
        height: auto;
        width: auto;
        position: absolute;
        right: -400%;
    }

    .TabAccount-EditUser-Icon:hover{
        height: auto;
        width: auto;
        cursor: pointer;
    }

    .TabAccount-Text-Edit-Button {
        font-family: Anton;
        font-size: 3vw;
        text-transform: uppercase;
    }

    .TabAccount-User-Modal{
        height: auto !important;
        width: 75% !important;
    }

    .TabAccount-Orders-Message{
        font-family: Anton;
        font-size: 80% !important;
        padding: 0 5% 0 5% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Message-Progress{
        width: 100% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid-Label{
        font-size: 60% !important;
        left: 10% !important;
    }
    .TabAccount-Orders-Grid{
        width: 500px !important;
        height: auto !important;
        right: 5% !important;
    }

    .TabAccount-Orders-Grid-Row{
        display: table !important;
    }

    .TabAccount-Progress-Text {
        font-size: 40%;
        width: auto;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .TabAccount-Orders-Product{
        left: 10px;
    }
}

