.UserAccount-Yellow-bar-div {
    background-color: rgb(255, 240, 36);
    width: 6%;
    height: 200%;
    position: absolute;
}

.UserTabAccount-Container {
    width: 60%;
    position: absolute;
    top: 48%;
    left: 20%;
}

.UserTabAccount-Empty-Div{
    background: rgb(255, 240, 36);
    height: 0.5%;
    width: 50%;
    left: 23%;
    margin-top: 5%;
    position: absolute;
    align-items: center;
}

.UserTabAccount-footer{
    width: 100%;
    position: absolute;
    margin-top: 10%;
    left: -5%;
}



@media only screen and (max-width: 1024px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 50%;
        left: 15%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        margin-top: 50%;
    }

}

@media only screen and (max-width: 768px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 6%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -10%;
        margin-top: -150%;
    }

}

@media only screen and (max-width: 540px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 8%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -10%;
        margin-top: -150%;
    }

}

@media only screen and (max-width: 414px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 8%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -10%;
        margin-top: -150%;
    }

}

@media only screen and (max-width: 411px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 8%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -10%;
        margin-top: -150%;
    }

}

@media only screen and (max-width: 375px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 8%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -4%;
        margin-top: -150%;
    }
}

@media only screen and (max-width: 360px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 2%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -4%;
        margin-top: -150%;
    }
}

@media only screen and (max-width: 320px) {
    .UserAccount-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 17%;
        height: 100%;
        position: absolute;
    }
    .UserTabAccount-Container {
        width: 60%;
        position: absolute;
        top: 60%;
        left: 8%;
    }
    .UserTabAccount-Empty-Div{
        background: rgb(255, 240, 36);
        height: 0.5%;
        width: 80%;
        left: 25%;
        margin-top: 40%;
        position: absolute;
        align-items: center;
    }
    .UserTabAccount-footer{
        width: 160%;
        position: absolute;
        left: -4%;
        margin-top: -150%;
    }
}