.Modal-Content-div{
    position: absolute;
    left: 30%;
    overflow: auto;
    max-height: 500px;
    position: static;
}

.Pay-Text{
    color: rgb(255, 240, 36);
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;

}

.Panier-Resume-Text{
    font-family: Anton;
    font-size: 2vw;
    text-transform: uppercase;
}

.Panier-Items-Text{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Panier-Items-Text-Header{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.Panier-Items-Text-Header:hover{
    color: rgb(255, 240, 36);
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
}



