.Banner-Header-img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    object-position: 0 40%;
    transform: scaleX(0.8);
}


.Banner-Container-Men {
    line-height: 0;
    font-family: Anton;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 50%;
    left: 15%;
    top: 10%;
}

.Banner-Empty-Div {
    background: rgb(255, 240, 36);
    height: 1%;
    width: 60%;
    left: 15%;
    top: 22%;
    position: absolute;
}

.Banner-panier-img{
    height: 6%;
    width: 6%;
    left: 68%;
    top: 45%;
    position: absolute;

}


@media only screen and (max-width: 414px) {
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 15%;
        top: 18%;
    }
}

@media only screen and (max-width: 375px) {
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 5vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 15%;
        top: 18%;
    }
}
