.Banner-Header-img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    object-position: 0 40%;
    /*
    transform: scaleX(0.8);
    */
    transform: scaleX(1);
    left: 6%;
}

.BannerOrder-Header-img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    object-position: 0 33%;
    transform: scaleX(1);
    left: 6%;
}

.BannerCheckout-Header-img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: flex;
    align-items: center;
    object-position: 0 69%;
    transform: scaleX(1);
    left: 6%;
}

.BannerUserAccount-Header-img {
    height: 270px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    display: inherit;
    align-items: center;
    object-position: 0 55%;
    transform: scaleX(1);
    left: 6%;
}


.Banner-Container-Men {
    line-height: 0;
    font-family: Anton;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 50%;
    left: 15%;
    top: 10%;
}

.Banner-Container-User {
    line-height: 0;
    font-family: Anton;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 50%;
    left: 15%;
    top: 10%;
}

.Banner-Empty-Div {
    background: rgb(255, 240, 36);
    height: 1%;
    width: 60%;
    left: 15%;
    top: 22%;
    position: absolute;
}

@media only screen and (min-width: 2560px) and (max-height: 1440px) {
    .Banner-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 6%;
    }

    .BannerOrder-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 6%;
    }

    .BannerCheckout-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 45%;
        transform: scaleX(1);
        left: 6%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 10%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 2%;
        width: 60%;
        left: 10%;
        top: 30%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 10%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 6%;
    }

}

@media only screen and (min-width: 2304px) and (max-height: 1440px) {
    .Banner-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 6%;
    }

    .BannerOrder-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 6%;
    }

    .BannerCheckout-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 45%;
        transform: scaleX(1);
        left: 6%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 10%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 2%;
        width: 60%;
        left: 10%;
        top: 30%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 10%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 6%;
    }

}


@media only screen and (min-width: 1920px) and (max-height: 1080px){
    .Banner-Header-img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 6%;
    }

    .BannerOrder-Header-img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 6%;
    }

    .BannerCheckout-Header-img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 45%;
        transform: scaleX(1);
        left: 6%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 10%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 2%;
        width: 60%;
        left: 10%;
        top: 30%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 10%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 650px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 6%;
    }

}


@media only screen and (max-width: 1024px) {
    .Banner-Header-img {
        height: 380px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerOrder-Header-img {
        height: 380px;
        width: 120%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerCheckout-Header-img {
        height: 380px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 16%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 380px;
        width: 110%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }

}

@media only screen and (max-width: 834px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 120%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 16%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 110%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }

}

@media only screen and (max-width: 810px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 120%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 16%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 110%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }

}

@media only screen and (max-width: 800px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 9%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 9%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 9%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 15%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 15%;
        top: 40%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 15%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 9%;
    }

}

@media only screen and (max-width: 768px) {
/*    .Got-it-logo {
        top: -8%;
        right: -6% !important;
        height: 30%;
        position: absolute;
        float: right;
        z-index:1;
    }*/
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 10%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 120%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 12%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 7%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 16%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 7%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 110%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 28%;
        transform: scaleX(1);
        left: 12%;
    }

}

@media only screen and (max-width: 540px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 106%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 6%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 428px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 116%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 150%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 480px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 116%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 150%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 414px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 116%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 412px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 116%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 150%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 411px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 116%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 150%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 360px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

    .BannerOrder-Header-img {
        height: 250px;
        width: 100% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 17%;
    }

    .BannerCheckout-Header-img {
        height: 250px !important;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 19%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }

    .BannerUserAccount-Header-img {
        height: 270px;
        width: 165% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 320px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerOrder-Header-img {
        height: 215px !important;
        width: 160% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 16%;
    }

    .BannerCheckout-Header-img {
        height: 215px !important;
        width: 110% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 18%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }
    .BannerUserAccount-Header-img {
        height: 270px;
        width: 170%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}

@media only screen and (max-width: 280px) {
/*    .Got-it-logo {
        top: -8%;
        right: -40% !important;
        height: 30%;
        position: absolute;
        float: right;
        z-index:1;
    }*/
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

    .BannerOrder-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 17%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 120% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 19%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }

    .BannerUserAccount-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }


}

@media only screen and (max-width: 375px) {
    .Banner-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

    .BannerOrder-Header-img {
        height: 230px;
        width: 100% !important;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 33%;
        transform: scaleX(1);
        left: 17%;
    }

    .BannerCheckout-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 69%;
        transform: scaleX(1);
        left: 17%;
    }
    .Banner-Container-Men {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 50%;
        left: 20%;
        top: 19%;
    }

    .Banner-Empty-Div {
        background: rgb(255, 240, 36);
        height: 1%;
        width: 60%;
        left: 20%;
        top: 27%;
        position: absolute;
    }
    .Banner-Container-User {
        line-height: 0;
        font-family: Anton;
        font-size: 10vw;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
        position: absolute;
        width: 60%;
        left: 20%;
        top: 19%;
    }

    .BannerUserAccount-Header-img {
        height: 270px;
        width: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        align-items: center;
        object-position: 0 40%;
        transform: scaleX(1);
        left: 17%;
    }

}
