.Confirmation-Image-div{
    width: 100%;
    object-fit: cover;
    position: fixed;
    display: flex;
    align-items: center;
}

.Confirmation-Message-div{
    width: 33%;
    height: 50%;
    background-color: white;
    position: fixed;
    margin: 10% 0 0 8%;
}

.Confirmation-Container-div{
    position: fixed;
    margin: 6% 0 0 10%;
}

.Confirmation-Message-Text-h1-div{
    font-family: Anton;
    font-size: 1.5vw;
    background-color: rgb(255, 240, 36);
}

.Confirmation-Message-Text-p-div{
    font-family: "American Typewriter", "Times New Roman", Times;
    font-size: 1vw;
}

.Confirmation-Message-Text-p2-div{
    font-family: "American Typewriter", "Times New Roman", Times;
    font-size: 1vw;
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
}

.Confirmation-Message-Text-p3-div{
    font-family: "American Typewriter", "Times New Roman", Times;
    font-size: 1vw;
    width: 60%;
}

.Confirmation-Yellow-second-bar-div {
    background-color: rgb(255, 240, 36);
    width: 50%;
    height: 20%;
    position: absolute;
    margin-top: 10%;
}

@media only screen and (min-width: 2560px) {
    .Confirmation-Image-div{
        width: 100%;
        object-fit: cover;
        position: fixed;
        display: flex;
        align-items: center;
    }

    .Confirmation-Message-div{
        width: 40%;
        height: 50%;
        background-color: white;
        position: fixed;
        margin: 10% 0 0 8%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 6% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 1.5vw;
        background-color: rgb(255, 240, 36);
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 1vw;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 1vw;
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 1vw;
        width: 100%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 100%;
        height: 20%;
        position: absolute;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1920px) {
    .Confirmation-Image-div{
        width: 100%;
        object-fit: cover;
        position: fixed;
        display: flex;
        align-items: center;
    }

    .Confirmation-Message-div{
        width: 40%;
        height: 50%;
        background-color: white;
        position: fixed;
        margin: 10% 0 0 8%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 6% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 1.5vw;
        background-color: rgb(255, 240, 36);
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 1vw;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 1vw;
        width: 100%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 1vw;
        width: 100%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 100%;
        height: 20%;
        position: absolute;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 1024px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 60% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 4% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2.5vw;
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 100%;
        margin-left: 2%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 70%;
        height: 20%;
        display: flex;
        margin-left: 2%;

    }
}

@media only screen and (max-width: 834px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 60% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 4% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 2%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: 2%;

    }
}

@media only screen and (max-width: 810px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 60% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 4% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 2%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: 2%;

    }
}

@media only screen and (max-width: 768px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 60% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 3% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: 2%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 2%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: 2%;

    }
}

@media only screen and (max-width: 428px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 75% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 6% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-lef: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: -5%;
        top: 85%;

    }
}

@media only screen and (max-width: 414px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 75% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 6% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-lef: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: -5%;

    }
}

@media only screen and (max-width: 412px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 75%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 70% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 6% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-lef: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: -5%;

    }
}

@media only screen and (max-width: 390px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 70%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 80% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 5% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: -5%;

    }
}

@media only screen and (max-width: 375px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 70%;
        height: 30%;
        background-color: white;
        position: fixed;
        margin: 80% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 2% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: -5%;

    }
}

@media only screen and (max-width: 360px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 70%;
        height: 32%;
        background-color: white;
        position: fixed;
        margin: 80% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 5% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 20%;
        display: flex;
        margin-left: -5%;

    }
}

@media only screen and (max-width: 320px) {
    .Confirmation-Image-div{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: flex;
        object-position: 70% 0%;
        transform: scale(1);
    }

    .Confirmation-Message-div{
        width: 70%;
        height: 32%;
        background-color: white;
        position: fixed;
        margin: 80% 0 0 5%;
    }

    .Confirmation-Container-div{
        position: fixed;
        margin: 2% 0 0 10%;
    }

    .Confirmation-Message-Text-h1-div{
        font-family: Anton;
        font-size: 4vw;
        background-color: rgb(255, 240, 36);
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 3vw;
        margin-left: -5%;
    }

    .Confirmation-Message-Text-p2-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: -5%;
        text-align: justify;
        text-justify: inter-word;
    }

    .Confirmation-Message-Text-p3-div{
        font-family: "American Typewriter", "Times New Roman", Times;
        font-size: 2vw;
        width: 80%;
        margin-left: 1%;
    }

    .Confirmation-Yellow-second-bar-div {
        background-color: rgb(255, 240, 36);
        width: 50%;
        height: 10%;
        display: flex;
        margin-left: -5%;

    }
}

