.Orders-Yellow-bar-div {
    background-color: rgb(255, 240, 36);
    width: 10%;
    height: 100%;
    position: absolute;
}

.Orders-Resume-Text{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
    position: absolute;
}

.Orders-Resume-Text:hover{
    color: rgb(255, 240, 36);
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
}


.Orders-Items-Text-Header:hover{
    color: rgb(255, 240, 36);
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Orders-Items-Text-Header{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
}

.Orders-Items-Text{
    font-family: Anton;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.Orders-Total-Text{
    font-family: Anton;
    font-size: 1vw;
    text-transform: uppercase;
    background-color: rgb(255, 240, 36);
}

.Orders-Email-Text{
    font-family: Anton;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.Orders-Bag-Resume{
    width: 100%;
    position: absolute;
    top: 40%;
    left: 32%;
}

.Orders-Resume{
    width: 100%;
    position: absolute;
    top: 50%;
    margin: 0 auto;
}

.Orders-Yellow-second-bar-div {
    background-color: rgb(255, 240, 36);
    width: 50%;
    height: 20%;
    position: absolute;
}

.Orders-Card{
    width: 100%;
    position: absolute;
    top: 80%;
}

.Orders-footer{
    width: 100%;
    position: absolute;
    top: 160%;
    left: -5%;
}

@media only screen and (max-width: 414px) {
    .Orders-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 15%;
        height: 100%;
        position: absolute;
    }

    .Orders-footer{
        width: 100%;
        position: absolute;
        top: 160%;
        left: 0;
    }
}

@media only screen and (max-width: 375px) {
    .Orders-Yellow-bar-div {
        background-color: rgb(255, 240, 36);
        width: 15%;
        height: 100%;
        position: absolute;
    }

    .Orders-footer{
        width: 100%;
        position: absolute;
        top: 160%;
        left: 0;
    }

}